<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEEN-login</title>
    <link href='/style.css' rel="stylesheet" type='text/css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif&amp;subset=latin-ext" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="/todo-list.js"></script>

</head>

<body>
    <div class="wrapper">
        <div class="header">
            <div class="logo"><i class="fas fa-clipboard-list"></i></div>
            <div class="tittle">MEEN - Your Online To-do List</div>
            <div class="user-panel">
                <span>Username</span>
                <div class="logout-button">
                    <a href="/">Logout</a></div>
            </div>
        </div>
        <div class="list-content">
            <div class='list-container'>
                <div class="list-title">Moja przykładowa lista</div>
                <form>
                    <input class="list-input" type="text" placeholder="Add new item" onfocus="this.placeholder=''"
                        onblur="this.placeholder='Add new item'">
                    <input class="list-button" type="submit" value="Add item">
                </form>
                <ul>
                    <% for (var i =0; i < todos.length; i++){%>
                    <li><span class='list-item'><%= todos[i].item%></span><a class='delete-button' href="#"><i class="fas fa-trash"></i></a></li><%} %>
                   
                </ul>
            </div>
        </div>
        <div class="footer">
            <div class="footer-text">
                Copyright&copy by CodersCrew. All right reserved.
            </div>
            <div class="socials">

            </div>
        </div>


    </div>
</body>

</html>