<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEEN-login</title>
    <link href='/style.css' rel="stylesheet" type='text/css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif&amp;subset=latin-ext" rel="stylesheet">

</head>

<body>
    <div class="wrapper">
        <div class="header">
            <div class="logo"><i class="fas fa-clipboard-list"></i></div>
            <div class="tittle">MEEN - Your Online To-do List</div>
        </div>
        <div class="content">
            <div class="login-container">
                <div class='login-header'>Logowanie</div>
                <div class='form-container'>
                    <form class="login-form">
                        <label>Login:</label>
                        <input class="login-input" type="text" placeholder="login" onfocus="this.placeholder=''" onblur="this.placeholder='login'">
                        <label>Password:</label>
                        <input class="login-input" type="password" placeholder="password" onfocus="this.placeholder=''"
                            onblur="this.placeholder='password'">
                        <input class="login-button" type="submit" value="Log in">
                    </form>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer-text">
                Copyright&copy by CodersCrew. All right reserved.
            </div>
            <div class="socials">

            </div>
        </div>


    </div>
</body>

</html>