<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEEN-login</title>
    <link href='/style.css' rel="stylesheet" type='text/css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif&amp;subset=latin-ext" rel="stylesheet">

</head>

<body>
    <div class="wrapper">
        <div class="header">
            <div class="logo"><i class="fas fa-clipboard-list"></i></div>
            <div class="tittle">MEEN - Your Online To-do List</div>
            <div class="user-panel">
                <span>Username</span>
            <div class="logout-button">
            <a href="/">Logout</a></div>
            </div>
        </div>
        <div class="content">
<div class="register-container">
    <div class="register-header">Register</div>
    <div class="formregister-container">
        <form action="/" method="post">
            <input type="text" name="email" placeholder="E-mail" required=""><br>
            <input type="text" name="username" placeholder="Username" required=""><br>
            <input type="password" name="password" placeholder="Password" required=""><br>
            <input type="password" name="passwordConf" placeholder="Confirm Password" required=""><br>
            <input type="submit" value="REGISTER">
        </form>
    </div>
</div>
</div>
<div class="clear"></div>
<!--//signin-form-->
</div>
        </div>
        <div class="footer">
            <div class="footer-text">
                Copyright&copy by CodersCrew. All right reserved.
            </div>
            <div class="socials">

            </div>
        </div>


    </div>
</body>

</html>